@model CategoryVM

@{
    ViewData["Title"] = "Category";
}

<div class="px-6 md:px-16">
    <!-- Searching box -->
    <div class="rounded-xl p-5 sm:p-10 bg-contain bg-fixed text-center" style="background-image: linear-gradient(to bottom, rgba(2,79,160), transparent), url(/images/system/bg-reg.png);">
        <div class="w-full sm:w-11/12 lg:w-4/5 xl:w-3/4 mx-auto">
            <p class="font-semibold text-3xl text-white mb-2"><span class="text-MyOrange">@Model.ApprovedCount Categories </span>Available Now</p>
            <div class="mt-5 flex flex-wrap gap-4 text-white items-center justify-center text-sm font-semibold tracking-widest">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="hover:underline">HOME</a>
                <i class="fa-solid fa-angle-right"></i>
                <a class="text-MyPaleGrey">CATEGORY</a>
            </div>

        </div>
    </div>

    <!-- Category Table -->
    <div class="h-screen grid grid-cols-4 gap-5 mt-5">
        <div class="col-span-1">
            <div class="flex gap-3 text-sm">
                <button id="btn_VerifiedCat" class="btnBlue active w-full py-3 border px-4 rounded-lg font-semibold">
                    Category List
                </button>
                <button id="btn_UnverifiedCat" class="btnOrange w-full py-3 px-4 border rounded-lg font-semibold">
                    New Category
                </button>
            </div>
            <div class="mt-3 rounded-xl bg-MyPaleOrange py-3 px-4 border border-MyOrange flex justify-between">
                <div class="flex flex-col gap-4 justify-between">
                    <div>
                        <p class="text-MyDarkGrey">Verified Categories</p>
                        <p class="text-xl text-MyOrange font-bold">@Model.ApprovedCount</p>
                    </div>
                    <p class="text-sm text-MyDarkGrey"><span class="text-MyOrange font-semibold">+ @Model.ApprovedThisMonthCount</span> This month</p>
                </div>
                <div class="text-white bg-MyOrange h-10 w-10 rounded-full flex items-center justify-center">
                    <i class="fa-solid fa-angles-down"></i>
                </div>
            </div>
            <div class="mt-3 rounded-xl bg-MyPaleBlue py-3 px-4 border border-MyBlue flex justify-between">
                <div class="flex flex-col gap-4 justify-between">
                    <div>
                        <p class="text-MyDarkGrey">New Categories</p>
                        <p class="text-xl text-MyBlue font-bold">@Model.NewCount</p>
                    </div>
                    <p class="text-sm text-MyDarkGrey"><span class="text-MyBlue font-semibold">+ @Model.NewThisMonthCount</span> This month</p>
                </div>
                <div class="text-white bg-MyBlue h-10 w-10 rounded-full flex items-center justify-center">
                    <i class="fa-solid fa-check-double"></i>
                </div>
            </div>
        </div>
        <div class="col-span-3">
            <table id="VerifiedCat" class="w-full">
                <thead class="text-left text-MyOrange bg-MyPaleOrange">
                    <tr class="">
                        <th class="py-4 pl-9 rounded-tl-md">No</th>
                        <th class="py-4 px-8">Category Name</th>
                        <th class="py-4 text-center">Created Date</th>
                        <th class="py-4 text-center">Number of Uses</th>
                        <th class="py-4 px-5 rounded-tr-md text-center">Delete</th>
                    </tr>
                </thead>
                <tbody class="pt-3">
                    @{
                        int countIdApproved = 1;
                        if (Model.ApprovedCategortList != null)
                        {
                            foreach (var category in Model.ApprovedCategortList)
                            {
                                <tr class="border border-MyPaleBlue">
                                    <td class="py-5 px-8">
                                        <p>@(countIdApproved++)</p>
                                    </td>
                                    <td class="py-5 px-8 min-w-48">
                                        <p>@category.Name</p>
                                    </td>
                                    <td class="py-5 pr-3 text-center">@category.CreatedAt.ToString("MMM dd, yyyy")</td>
                                    <td class="py-5 pr-3 text-center">
                                        <p>unidentified</p>
                                    </td>
                                    <td class="text-xs">
                                        <div class="open_deletionForm hover:cursor-pointer flex justify-center text-xl text-MyOrange">
                                            <i class="fa-solid fa-trash"></i>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <table id="UnverifiedCat" class="hidden w-full">
                <thead class="text-left text-MyOrange bg-MyPaleOrange">
                    <tr class="">
                        <th class="py-4 pl-8 rounded-tl-md">No</th>
                        <th class="py-4 px-8">Category Name</th>
                        <th class="py-4 text-center">Created Date</th>
                        <th class="py-4 px-5 text-center w-24">Accept</th>
                        <th class="py-4 px-5 rounded-tr-md text-center w-24">Delete</th>
                    </tr>
                </thead>
                <tbody class="pt-3">
                    @{
                        int countIdNew = 1;
                        if (Model.NewCategoryList != null)
                        {
                            foreach (var category in Model.NewCategoryList)
                            {
                                <tr class="border border-MyPaleBlue">
                                    <td class="py-5 px-8">
                                        <p>@(countIdNew++)</p>
                                    </td>
                                    <td class="py-5 px-8 min-w-48">
                                        <p>@category.Name</p>
                                    </td>
                                    <td class="py-5 pr-3 text-center">@category.CreatedAt.ToString("MMM dd, yyyy")</td>
                                    <td class="text-xs">
                                        <button data-id="@category.Id" class="open_acceptForm flex justify-center mx-auto text-2xl text-MyBlue hover:cursor-pointer">
                                            <i class="fa-solid fa-circle-check"></i>
                                        </button>
                                    </td>
                                    <td class="text-xs">
                                        <button data-id="@category.Id" class="open_deletionForm flex justify-center mx-auto text-2xl text-MyOrange hover:cursor-pointer">
                                            <i class="fa-solid fa-circle-xmark"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <ul class="mt-7 flex justify-end gap-2 text-sm font-medium text-MyOrange">
                <li class="border border-MyOrange rounded-md w-7 h-7 flex items-center justify-center hover:bg-MyOrange hover:text-white hover:cursor-pointer"><i class="fa-solid fa-angle-left"></i></li>
                <li class="border border-MyOrange rounded-md w-7 h-7 flex items-center justify-center hover:bg-MyOrange hover:text-white hover:cursor-pointer">1</li>
                <li class="border border-MyOrange rounded-md w-7 h-7 flex items-center justify-center hover:bg-MyOrange hover:text-white hover:cursor-pointer">2</li>
                <li class="border border-MyOrange rounded-md w-7 h-7 flex items-center justify-center hover:bg-MyOrange hover:text-white hover:cursor-pointer">3</li>
                <li class="border border-MyOrange rounded-md w-7 h-7 flex items-center justify-center hover:bg-MyOrange hover:text-white hover:cursor-pointer"><i class="fa-solid fa-angle-right"></i></li>
            </ul>
        </div>
    </div>

    <!-- Confirm Form -->
    <div class="acceptForm hidden absolute top-0 bottom-0 left-0 right-0 bg-black bg-opacity-50 z-10">
        <div class="bg-white mx-auto w-1/4 h-fit rounded-lg mt-28">
            <div class="flex gap-4 items-center px-5 py-3">
                <input hidden type="text" value="1">
                <p class="text-MyBlue text-lg font-semibold">Confirm Accept</p>
            </div>
            <div class="w-full h-0.5 bg-MyVeryPaleGrey"></div>
            <div class="px-5 py-3">
                <p class="">Are you sure you would like to delete this profile from the database? This action cannot be undone.</p>
                <form asp-controller="Category" asp-action="HandleCategory" method="post" class="flex gap-2 justify-end mt-6">
                    <input name="categoryId" id="id_approveCategory" type="text" hidden />
                    <button type="button" class="cancel_acceptForm rounded-lg border border-MyBlue bg-MyPaleBlue py-2 px-5">Cancel</button>
                    <button type="submit" name="submitBtn" value="approve" class="border border-MyBlue bg-MyBlue text-white rounded-lg hover:bg-MyPaleBlue hover:text-MyBlue py-2 px-5">Accept</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Form -->
    <div class="deletionForm hidden absolute top-0 bottom-0 left-0 right-0 bg-black bg-opacity-50 z-10">
        <div class="bg-white mx-auto w-1/4 h-fit rounded-lg mt-28">
            <div class="flex gap-4 items-center px-5 py-3">
                <input hidden type="text" value="1">
                <p class="text-MyOrange text-lg font-semibold">Confirm Deletion</p>
            </div>
            <div class="w-full h-0.5 bg-MyVeryPaleGrey"></div>
            <div class="px-5 py-3">
                <p class="">Are you sure you would like to delete this profile from the database? This action cannot be undone.</p>
                <form asp-controller="Category" asp-action="HandleCategory" method="post" class="flex gap-2 justify-end mt-6">
                    <input name="categoryId" id="id_deleteCategory" type="text" hidden />
                    <button type="button" class="cancel_deletionForm rounded-lg border border-MyOrange bg-MyPaleOrange py-2 px-5">Cancel</button>
                    <button type="submit" name="submitBtn" value="delete" class="btn py-2 px-5">Accept</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin/category.js"></script>
}
