@using FPT.Utility
@using FPT.Utility.Helpers
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model JobPageVM

@{
    ViewData["Title"] = "Jobs";
}

<div class="px-6 md:px-16">
    <!-- Searching box -->
    <div class="rounded-xl p-5 sm:p-10 bg-cover bg-fixed text-center" style="background-image: linear-gradient(to bottom, rgba(2,79,160), transparent), url(/images/system/fptdiscussion.jpg);">
        <div class="w-full sm:w-11/12 lg:w-4/5 xl:w-3/4 mx-auto">
            <p class="font-semibold text-3xl text-white mb-2"><span class="text-MyOrange">265 Jobs </span>Available Now</p>
            <p class="text-white mb-6">
                Your Premier Recruitment Destination for Seamless Career Connections. Dive into a world of endless possibilities as you explore tailored job listings designed to match your unique skills and aspirations
            </p>
            <form asp-controller="Jobs" asp-action="Index" method="get" class="flex flex-col gap-3 w-full">
                <div class="flex flex-col sm:flex-row gap-5">
                    <div class="flex w-full h-14">
                        <div class="relative">
                            <div class="absolute h-full flex left-3 items-center">
                                <i class="text-xl text-MyGrey fa-solid fa-location-dot"></i>
                            </div>
                            <div class="absolute h-full flex right-3 items-center">
                                <i class="text-xl text-MyGrey fa-solid fa-angle-down"></i>
                            </div>
                            <select name="cityId" asp-items="@Model.CityList" class="h-full custom-select outline-none rounded-l-md w-40 lg:w-48 pl-10 text-MyDarkGrey font-medium hover:cursor-pointer">
                                <option value="">All Cities</option>
                            </select>
                        </div>
                        <div class="bg-white flex items-center pr-4">
                            <div class="w-0.5 h-3/5 bg-MyPaleGrey"></div>
                        </div>
                        <input type="text" value="@ViewBag.Keywords" name="keyword" placeholder="Type the keyword you want to search" class="outline-none rounded-r-md w-full pr-4">
                    </div>
                    <button type="submit" class="flex items-center justify-center gap-2 btn px-8 lg:px-11 py-4"><i class="fa-solid fa-magnifying-glass"></i><p>Search</p></button>
                </div>
                <div class="flex flex-wrap gap-5 mt-3 mx-auto justify-center">
                    <div class="relative flex w-fit">
                        <select name="jobtypeId" asp-items="@Model.JobTypeList" class="h-full custom-select outline-none rounded-md w-40 px-3 py-4 font-medium hover:cursor-pointer text-sm">
                            <option value="">All Types</option>
                        </select>
                        <div class="absolute top-3.5 right-3">
                            <i class="text-xl text-MyGrey fa-solid fa-angle-down"></i>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <!-- Jobs list -->
    <div class="grid grid-cols-3 gap-2 sm:gap-5 xl:gap-7 mt-8">
        <div id="leftTab" class="col-span-1 flex flex-col gap-2">
            @foreach (var job in Model.JobList)
            {
                <div data-id="@job.Id" class="job_item rounded-l-md border-2 border-MyPaleGrey p-3 sm:p-6 hover:border-MyOrange hover:border-r-8">
                    <div class="flex flex-wrap justify-center md:justify-start gap-3">
                        <img src="~/images//companyLogo/@(job.Company?.Logo ?? "noLogoCompany.jpg")" alt="Company Logo" class="h-16 w-16 p-4 border border-MyPaleGrey rounded-lg object-contain">
                        <div>
                            <p class="font-semibold text-xl">@(job.Company?.Name ?? "Unknown")</p>
                            <p class="text-xs text-MyDarkGrey">Posted @DateTimeHelper.GetTimeAgoString(job.CreatedAt)</p>
                        </div>
                    </div>
                    <p class="font-semibold sm:text-xl my-4">@job.Title</p>
                    <div class="flex items-center gap-5 flex-wrap">
                        <div class="flex gap-2 items-center">
                            <i class="fa-solid fa-circle-info text-MyDarkGrey text-lg"></i>
                            <p class="text-xs">@(job.Category?.Name ?? "Unknown")</p>
                        </div>
                        <div class="flex gap-2 items-center">
                            <i class="fa-regular fa-clock text-MyDarkGrey text-lg"></i>
                            <p class="text-xs">@(job.JobType?.Name ?? "Unknown")</p>
                        </div>
                        <div class="flex gap-2 items-center">
                            <i class="fa-solid fa-earth-asia text-MyDarkGrey text-lg"></i>
                            <p class="text-xs">@(job.Company?.City != null ? job.Company.City.Name : "Unknown") City</p>
                        </div>
                    </div>
                </div>
            }

            <div class="text-sm flex justify-center gap-5 mt-3 text-MyOrange">
                @if (Model.JobList.HasPreviousPage)
                {
                    <a asp-area="" asp-controller="Jobs" asp-action="Index" asp-route-cityId="@ViewBag.CityId" asp-route-jobtypeId="@ViewBag.JobtypeId" asp-route-keyword="@ViewBag.Keywords" asp-route-pageIndex="@(Model.JobList.PageIndex - 1)" class="flex items-center gap-2">
                            <i class="fa-solid fa-angle-left"></i>
                            <p class="hover:underline">Previous</p>
                    </a>
                }
                @if (Model.JobList.HasNextPage)
                {
                    <a asp-area="" asp-controller="Jobs" asp-action="Index" asp-route-cityId="@ViewBag.CityId" asp-route-jobtypeId="@ViewBag.JobtypeId" asp-route-keyword="@ViewBag.Keywords" asp-route-pageIndex="@(Model.JobList.PageIndex + 1)" class="flex items-center gap-2">
                            <p class="hover:underline">Next</p>
                            <i class="fa-solid fa-angle-right"></i>
                    </a>
                }
            </div>

            
        </div>


        <div id="rightTab" class="col-span-2">
            <p id="noJobClick_message" class="text-MyOrange text-lg font-medium mt-2 text-center">Please select a job from the list on the left tab</p>
            <div id="jobDisplay_tab" class="hidden sticky top-0 h-fit rounded-md border border-MyGrey p-3 sm:p-6">
                <div class="flex flex-wrap gap-3 justify-between">
                    <input type="text" id="job_id" value="" hidden />
                    <div class="flex flex-wrap gap-4">
                        <img id="company_logo" src="" alt="Company Logo" class="h-20 w-20 p-3 border border-MyPaleGrey rounded-lg">
                        <div>
                            <p id="job_title" class="text-xl font-semibold"></p>
                            <div class="flex gap-1 items-center">
                                <p id="company_name_small" class="font-semibold"></p>
                                <p id="company_city" class="text-sm my-1"></p>
                            </div>
                            <p id="job_date" class="text-xs"></p>
                        </div>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole(SD.Role_JobSeeker))
                        {
                            <button class="btn h-fit py-2 px-3" id="apply_cvFormSubmit">Apply Now</button>
                        }
                    }
                    else
                    {
                        <a asp-controller="Access" asp-action="Index" class="btn h-fit py-2 px-3">Apply Now</a>
                    }
                    <div class="h-0.5 w-full bg-MyPaleGrey mt-3"></div>
                </div>
                <div id="custom-scroll" class="h-job overflow-y-scroll pr-2 pt-5">
                    <div class="text-sm flex flex-col gap-2">
                        <div class="flex items-center gap-2">
                            <i class="fa-solid fa-earth-asia text-MyGrey text-lg"></i>
                            <p id="job_address"></p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fa-solid fa-circle-info text-MyGrey text-lg"></i>
                            <p id="job_category"></p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fa-regular fa-clock text-MyGrey text-lg"></i>
                            <p id="job_type"></p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fa-solid fa-clock-rotate-left text-MyGrey text-lg"></i>
                            <p id="job_deadline"></p>
                        </div>
                    </div>
                    <div class="h-0.5 w-full bg-MyPaleGrey my-5"></div>
                    <div>
                        <p class="text-xl font-semibold mb-2">Job Description</p>
                        <p id="job_description"></p>
                    </div>
                    <div class="h-0.5 w-full bg-MyPaleGrey my-5"></div>
                    <div>
                        <p class="text-xl font-semibold mb-2">Responsibilities</p>
                        <p id="job_responsibilities"></p>
                    </div>
                    <div class="h-0.5 w-full bg-MyPaleGrey my-5"></div>
                    <div>
                        <p class="text-xl font-semibold mb-2">Your Skills and Experience</p>
                        <p id="job_experience"></p>
                    </div>
                    <div class="h-0.5 w-full bg-MyPaleGrey my-5"></div>
                    <div>
                        <p class="text-xl font-semibold mb-2">Additional Information</p>
                        <p id="job_additionalInfo"></p>
                    </div>
                    <div class="h-0.5 w-full bg-MyPaleGrey my-5"></div>
                    <div>
                        <p id="company_name" class="text-2xl font-semibold"></p>
                        <div class="flex flex-wrap gap-5 md:gap-10 mt-3">
                            <div class="font-semibold">
                                <p class="text-MyDarkGrey text-xs">Location</p>
                                <p class="text-sm" id="company_location"></p>
                            </div>
                            <div class="font-semibold">
                                <p class="text-MyDarkGrey text-xs">Company Size</p>
                                <p class="text-sm" id="company_size"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CV Form -->
    <div id="cvFormSubmit" class="hidden absolute top-0 bottom-0 left-0 right-0 bg-black bg-opacity-50 z-10">
        <div class="bg-white mx-auto w-11/12 md:w-3/4 xl:w-1/2 h-fit rounded-lg mt-14">
            <div class="flex gap-4 items-center justify-between p-3">
                <p id="cvform_title" class="text-MyOrange text-lg font-semibold">Java Developer (Spring, MySQL) at Giao Hang Tiet Kiem</p>
                <button for="" id="close_cvFormSubmit" class="text-2xl text-MyDarkGrey hover:cursor-pointer hover:text-MyOrange"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="w-full h-0.5 bg-MyVeryPaleGrey"></div>
            <form asp-controller="Jobs" asp-action="SubmitCV" method="post" enctype="multipart/form-data" class="px-5 pb-4">
                <div class="py-3 text-center">
                    <p class="font-medium">Review your application</p>
                    <p class="text-sm text-MyDarkGrey">The employer will also receive a copy of your profile</p>
                </div>
                <div class="h-0.5 w-full bg-MyPaleGrey"></div>
                <div class="py-4">
                    <p class="font-medium">Contact Info</p>
                    <p class="text-sm text-MyDarkGrey">You should verify your information correcly</p>
                    <div class="flex flex-col gap-4 mt-3">
                        <div class="flex flex-wrap sm:flex-nowrap gap-4">
                            <div class="w-full border border-MyOrange rounded-sm py-1.5 px-3">
                                <p class="text-xs text-MyDarkGrey">Your name <span class="text-red-600">*</span></p>
                                <input disabled asp-for="JobSeeker.Name" type="text" class="w-full outline-none text-sm font-medium" placeholder="Enter your full name">
                            </div>
                            <div class="w-full border border-MyOrange rounded-sm py-1.5 px-3">
                                <p class="text-xs text-MyDarkGrey">Your phone number</p>
                                <input disabled asp-for="JobSeeker.PhoneNumber" type="text" class="w-full outline-none text-sm font-medium" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <div class="w-full border border-MyOrange rounded-sm py-1.5 px-3">
                            <p class="text-xs text-MyDarkGrey">Your gmail <span class="text-red-600">*</span></p>
                            <input disabled asp-for="JobSeeker.Email" type=" text" class="w-full outline-none text-sm font-medium" placeholder="Enter your email address">
                        </div>
                    </div>
                </div>
                <div class="w-full h-0.5 bg-MyVeryPaleGrey"></div>
                <div class="py-4">
                    <p class="font-medium">Resume</p>
                    <p class="text-sm text-MyDarkGrey">You should verify your information correcly</p>
                    <div class="flex flex-wrap sm:flex-nowrap gap-2 mt-3 text-sm">
                        <div class="w-full px-5 pb-8 pt-4 rounded-md border border-MyOrange bg-MyPaleOrange flex flex-col gap-2">
                            <p class="font-medium">Upload your resume</p>
                            <input name="fileCV" type="file" id="fileCV_input" accept=".pdf,.doc,.docx">
                            <p class="text-xs text-MyDarkGrey">We accept .doc .docx, .pdf files, no password protected, up to 3MB</p>
                        </div>
                        <a href="" class="btn w-full sm:w-fit p-3 flex items-center justify-center">View</a>
                    </div>
                    <p id="fileCV_message" class="text-red-600 text-sm mt-3 text-center"></p>
                </div>
                <button type="submit" id="submitCV_btn" class="btn w-full py-3 text-sm">Submit My CV</button>
            </form>

        </div>
    </div>

    <!-- Advertisements -->
    <div class="py-24">
        <div class="h-80 p-12 rounded-lg bg-cover flex relative" style="background-image: linear-gradient(to right, #000000bf, transparent), url(/images/system/fptdiscussion.jpg);">
            <div class="col-span-1 flex flex-col justify-center w-full sm:w-1/2">
                <p class="text-MyOrange font-bold">WE ARE</p>
                <p class="text-5xl font-semibold text-white">HIRING</p>
                <p class="text-white">FPTJobMatch: Your Bridge to Career Success. Explore tailored job listings, connect with top employers, and take the next step in your professional journey.</p>
                <a href="" class="w-fit btn py-2 px-3 flex justify-center items-center text-sm mt-3"><i class="fa-solid fa-circle-check"></i><span class="ml-2">Apply Now</span></a>
            </div>
            <img src="~/images/system/FPT.png" alt="" class="h-14 absolute right-14 hidden sm:block">
        </div>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/job.js" asp-append-version="true"></script>
    <script src="~/ajax/job.js" asp-append-version="true"></script>
}

